# Editor settings
# .vscode/

# Node modules
node_modules/

# Build assets
build/
build-server/
/.firebase
src/graphql/generated/tmp-resolvers

# Logs
*error.log
*debug.log

# Microsoft Office
~$*.*

/todo
