# Editor settings
# .vscode/

# Node modules
node_modules/

# Build assets
build/
build-server/
/.firebase
src/store/generated/tmp-resolvers
.cache

# Logs
*error.log
*debug.log

# Microsoft Office
~$*.*

# Firebase Runtime Environmental Variables
.runtimeconfig.json
firebase-admin-service-account.json
