# Required to use Node versions over 8. package-backend has its engines field
# set to 8 due to a requirement of Firebase Functions. To use Node 8 instead of
# 6 in cloud functions, engines has to be set to 8.
ignore-engines true
